{% extends 'base.html.twig' %}

{% block body %}

    <h1>Questions</h1>

    <table>
        <tbody>
        {% for question in pagination %}
        <tr>
            <td><a href="{{ path('view_question', { id: question.id }) }}">{{ question.intitule }}</a></td>
        </tr>
        {% endfor %}
    </table>


    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}
