{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ question.intitule }}</h1>

    <table>
        <tbody>
        {% for reponse in question.reponses %}
            <tr>
                <td>
                    <b>Réponse de {{ reponse.user.username }}</b>
                    <br>
                    {{ reponse.body }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ form(form) }}


{% endblock %}
